<header>
    <nav>
        <a href="/">Library</a>
        <ul>
            <li><a href="/Authors">Authors</a></li>
            <li><a href="/Authors/New">Add Author</a></li>
            <li><a href="/Books">Books</a></li>
            <li><a href="/Books/New">Add Books</a></li>
        </ul>
    </nav>
</header>